In [ ]:
import pandas as pd
import sqlite3

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/rashida048/Datasets/master/movie_dataset.csv")

In [ ]:
df['runtime'] = pd.to_numeric(df['runtime'], errors='coerce')
#converting column to numeric and removing all non numeric data,in case of wrong data entry

df = df[(df['runtime'] != 0)] #removing 0 values

df.dropna(subset=['runtime'], inplace=True) #removing null values

df = df[df['runtime'].astype(int) == df['runtime']] #removing non integer values

In [ ]:
conn = sqlite3.connect('movies.db')

In [ ]:
df.to_sql('Movie', conn, if_exists='replace', index=False)

4766

In [ ]:
cursor = conn.cursor()

In [ ]:
query = "SELECT title,runtime FROM (SELECT *,DENSE_RANK()OVER(ORDER BY runtime DESC) AS 'RANK' FROM Movie) WHERE RANK = 1"
cursor.execute(query)
result = cursor.fetchone()
print(f"Movie with the highest runtime : {result[0]} , with runtime : {result[1]} minutes")

Movie with the highest runtime : Carlos , with runtime : 338.0 minutes

In [ ]:
query = "SELECT title,runtime FROM (SELECT *,DENSE_RANK()OVER(ORDER BY runtime ASC) AS 'RANK' FROM Movie) WHERE RANK = 1"
cursor.execute(query)
result = cursor.fetchone()
print(f"Movie with the highest runtime : {result[0]} , with runtime : {result[1]} minutes")

Movie with the highest runtime : Vessel , with runtime : 14.0 minutes

In [ ]:
data1 = df.groupby(["production_companies"])[["budget"]].sum().reset_index()

In [ ]:
To decide between marvel and DC comics, i would use the following metrics -
1. Performance of movie based on budget to box office ratio. Will use Feature engineering for the same.
2. Year on Year revenue and porfit and also confidence of other investors.
3. Further analyzing market trends and audience prefrences will allow to get a better piture of which company is better positioned for future success.