In [ ]:
SELECT a.UserId, a.InstallDate, a.Role, a.OrgID

FROM Table1 a

INNER JOIN (

    SELECT UserId, MAX(InstallDate) AS "MOST_RECENT"

    FROM Table1

    GROUP BY UserId

 ) b ON a.UserId = b.UserId AND a.InstallDate = b.MOSTRECENT       #Finding user's latest entry using subquery and join

In [ ]:
SELECT UserId, InstallDate, Role, OrgID

FROM (

    SELECT UserId,Installdate,Role,OrgID,

        ROW_NUMBER() OVER (PARTITION BY User_Id ORDER BY Install_Date DESC) AS rn

    FROM user_info

) a

WHERE rn = 1     #Finding user's latest entry using window funtion

In [ ]:
SELECT COUNT(product) AS "COUNT"

FROM ORDER_TABLE

WHERE purchase_datetime BETWEEN '2021-01-01' AND '2021-01-31'
 ----------------------------------------------------
OR
-----------------------------------------------------
SELECT COUNT(product) AS "COUNT"

FROM ORDER_TABLE

WHERE EXTRACT(YEAR FROM purchase_datetime) = 2021
AND EXTRACT(MONTH FROM purchase_datetime) = 1      # Number of products bought in January 2021

# Would have used DISTINCT if it was mentioned to count DISTINCT products

In [ ]:
SELECT b.user_id,MIN(b.order_id)

FROM ORDER_TABLE a
JOIN
ORDER_TABLE b ON a.user_id = b.user_id AND b.order_id < a.order_id

GROUP BY b.user_id # Finding second order id for each user without using window function

In [ ]:
WITH CTE AS (
    SELECT
        user_id,
        order_id,
        purchase_datetime,
        LAG(purchase_datetime) OVER (PARTITION BY user_id ORDER BY purchase_datetime) AS "PREV"
    FROM ORDER_TABLE
)
SELECT
    user_id,
    MIN(DATEDIFF(purchase_datetime, prev_purchase_datetime)) AS "MIN_TIME",
    MAX(DATEDIFF(purchase_datetime, prev_purchase_datetime)) AS "MAX_TIME",
    AVG(DATEDIFF(purchase_datetime, prev_purchase_datetime)) AS "AVG_TIME"

FROM  ORDER_TABLE

GROUP BY user_id #Finding min, max and average time between two orders for any user